body {
  background: url("images/film.png") ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  overflow-x: scroll;
  overflow-y: scroll;
    height: 100%;
    cursor: url("images/skull.png"), auto;
    margin-bottom:50px;
    height: 100vh;
  }

pre {
  color:aliceblue;
}

.text {
  color: lightgreen;
}

#about_page {
  display:none;
}

#gallery_page {
  display:none;
}

#shows_page {
  display:none;
}




/* Mobile View */
@media only screen and (max-width: 800px) {
  #homepage #bbglogo {
      width:80%;
      height:auto;
  }
  #homepage #bbg {
    width: 15%;
    height: auto;
    cursor:pointer;
  }
  #homepage #banner {
    width: 70%;
    height: auto;
  }
  .headerButton {
    width:32%;
    height:auto;
    cursor:pointer;
  }
  .link {
    width:50%;
    height:auto;
  }
  #sub {
    width: 40%;
    height:auto;
  }
  .gallery_photo {
    width: 100%;
    height: auto;
    position:center;
  }
  h1 {
    font-size: 100%;
    color: rgb(126, 62, 126);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h2 {
      font-size: 100%;
      color: rgb(75, 170, 41);
      font-family: Arial, Helvetica, sans-serif;
  }
  #selfie {
    width:80%;
    height:auto;
  }
  p {
    color: whitesmoke;
    font-size: 50%;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding-left: 5%;
  padding-right: 5%;
    background-color: whitesmoke;
    width: 80%;
      display: inline-block;
      border: 1px solid rgb(0, 0, 0);
      box-sizing: border-box;
  }
}

/* Desktop View */
@media only screen and (min-width: 800px) {
  #homepage #bbglogo {
    width:60%;
    height:auto;
  }
  #homepage #bbg {
    width: 10%;
    height: auto;
    cursor:pointer;
  }
  #homepage #banner {
    width: 53%;
    height: auto;
  }
  .headerButton {
    width:16%;
    height:auto;
    cursor:pointer;
  }
  #sub {
    width: 30%;
    height:auto;
  }
  .link {
    width:18%;
    height:auto;
  }
  .gallery_photo {
    width: 90%;
    height: auto;
  }
  h1 {
    font-size: 24px;
    color: rgb(126, 62, 126);
    font-family: Arial, Helvetica, sans-serif;
    left: 0px;
    right: 0px;
  }
  
  h2 {
      font-size: 18px;
      color: rgb(75, 170, 41);
      font-family: Arial, Helvetica, sans-serif;
      left: 0px;
      right: 0px;
  }
  p {
    color: whitesmoke;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    left: 0px;
    right: 0px;
  }
  #selfie {
    width:60%;
    height:auto;
  }
  .container {
    padding-left: 5%;
    padding-right: 5%;
      background-color: whitesmoke;
      width: 100%;
        display: inline-block;
        border: 1px solid rgb(0, 0, 0);
        box-sizing: border-box;
    }
  
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.spinning {
  animation: spin 2s infinite ;
}

@keyframes spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(359deg);
    }
  }
  
  @keyframes slide{
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1692px, 0, 0);
    }
  }


/* Add some padding and a grey background color to containers */


/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

#footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  flex: 0 0 auto;
}